{% extends "base.html" %}

{% block title %}
EERIS-06 | Password Reset
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 500px;">
        
        <h1 class="text-center mb-4 logo-color">Forgot your password?</h1>
        <h4 class="text-center mb-4 logo-color">We got you.</h4>

        <form method="POST" action="{% url 'app:authPasswordReset' %}">
            {% csrf_token %}
            
            <div class="auth-card">
                <div class="mb-2">
                    <h6>Email:</h6>
                    <input type="text" name="username" autocapitalize="none" autocomplete="username" maxlength="254" required="" id="id_username">
                </div>

                <button type="submit" class="btn w-100">Send Reset Link</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
