<div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
    {% for category, totals in data.items %}
    <div class="card card-hover receipt-info p-2 mb-3" style="width: 300px; flex: 0 1 auto;">
        <div class="card-body">
            <div class="card-title">
                <h4>
                   {{ category }}
                </h4>
            </div>
            <hr />
            <div class="container px-0">
                {% for key, value in totals.items %}

                    {% if key == "Expense Saved" %}
                        <div style="font-size: large;">{{ key }} <div class="text-primary">{{ value }}%</div></div>
                    {% elif key == "Approved Expenses" %}
                        <div style="font-size: large;">{{ key }} <div class="text-success">${{ value }}</div></div>
                    {% elif key == "Declined Expenses" %}
                        <div style="font-size: large;">{{ key }} <div class="text-danger">${{ value }}</div></div>
                    {% else %}
                        <div style="font-size: large;">{{ key }} <div class="text-primary">${{ value }}</div></div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
