{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
EERIS-06 | Login
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 500px; border-radius: 0.5rem;">
        
        <h1 class="mb-4 logo-color">Log into EERIS</h1>
        
        <form method="POST">
            {% csrf_token %}
            <div class="auth-card">
                <div class="form-floating mb-2">
                    {{ form.username|add_class:"form-control"|attr:"placeholder: email"}}
                    <label for="{{ form.username.id_for_label }}">Email</label>
                </div>
                <div class="form-floating mb-2">
                    {{ form.password|add_class:"form-control"|attr:"placeholder: password" }}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                </div>
                <button type="submit" class="btn w-100 mb-4">Log In</button>

                <div class="d-flex align-items-center" style="gap: 12px;">
                    <div class="mb-2"><a class="auth-link" href="{% url 'app:authPasswordReset' %}">Forgot Password?</a></div>
                    <div class="mb-2"><a class="auth-link" href="{% url 'app:authUserRegister' %}">Don't have an account?</a></div>
                </div>
                    
            </div>
        </form>
    </div>
</div>
{% endblock %}
